<div class="col-12 h-100 my-auto">
    <div class="container-fluid h-100 text-white">
        <div class="row">
            <div *ngFor="let beanLot of board.beanLots" class="col-4 my-auto">
                <span
                class="bean"
                [class.selected-bean]="selectedBeans.includes(bean)"
                (click)="manageBeanSelection(bean)"
                *ngFor="let bean of beanLot">
                    <img src="assets/images/BATATO.png" width="60px" height="60px">
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <span (click)="makePlay()"
                class="make-play-button"
                [class.disabled-button]="selectedBeans.length == 0">Fazer jogada</span>
            </div>
            <div class="col-6">
                <span class="float-right">Vez de: {{currentPlayer.name}}</span>
            </div>
        </div>
    </div>
</div>
