.selected-bean {
    color: rgb(88, 163, 88);
}

.bean {
    cursor: pointer;
}

.make-play-button {
    cursor: pointer;
    color: rgb(100, 100, 240);
}

.disabled-button {
    cursor: not-allowed;
    color: #FFFFFF;
}