<div class="col-12 my-auto">
    <div class="container h-100 text-white">
        <div class="row h-100">
            <div *ngFor="let beanLot of board.beanLots" class="col-4 my-auto">
                <span
                class="bean"
                [class.selected-bean]="selectedBeans.includes(bean)"
                (click)="manageBeanSelection(bean)"
                *ngFor="let bean of beanLot">
                    {{bean.name}}
                </span>
            </div>
        </div>
    </div>
</div>
