<div class="col-12">
    <div class="container-fluid matchmaking-height text-white" *ngIf="selectedQueue == 'random'">
        <div class="row justify-content-center">
            PERAÍ, {{this.loggedUser.name}}
        </div>
        <div class="row justify-content-center">
            Estamos procurando um oponente para você...
        </div>
        <app-user-list-row
        class="row"
        [users]="users"
        [loggedUser]="loggedUser"
        [selectedQueue]="selectedQueue"></app-user-list-row>
    </div>
    <div class="container-fluid matchmaking-height text-white" *ngIf="selectedQueue == 'selectUser'">
        <div class="row justify-content-center">
            {{this.loggedUser.name}}
        </div>
        <div class="row justify-content-center">
            VAI FILHÃO, ESCOLHE UM ONLINE AÍ...
        </div>
        <app-user-list-row
        class="row"
        [ngClass]="{'justify-content-center': !notificationsOpen}"
        [users]="users"
        [loggedUser]="loggedUser"
        [selectedQueue]="selectedQueue"></app-user-list-row>
    </div>
    <div class="float-right notification-button text-center"
    (click)="notificationsOpen = !notificationsOpen">
        <span>
            <i class="fas fa-bell bell-color"></i>
        </span>
        <span class="badge" *ngIf="challengers.length > 0">{{challengers.length}}</span>
    </div>
</div>