.notification-button {
    height: 30px; //deve considerar daqui
    margin-bottom: 10px;
    width: 40px;
}

.bell-color {
    color: #FAFAD2;
}

.matchmaking-height {
    //considerar o segundo parametro pelo comentario da .notification-button
    height: calc(100vh - 30px - 10px);
}

.badge {
    font-size: 12px;
    position: absolute;
    margin-left: -10px;
    background-color: red;
    padding: 2px;
    border-radius: 50%;
}

.notifications-menu {
    position: absolute;
    background: rgb(231, 231, 136, .5);
    right: 15px;
    bottom: 39px;
    width: 300px;
    height: calc(100vh - 40px);
}