.opponent-viewer {
    max-height: 80vh;
    width: 80vw;
}

.unchallenged-user {
    cursor: pointer;
    color: rgb(212, 45, 45);
}

.challenged-user {
    color: grey;
}

.online {
    color: rgb(120, 177, 89);
}

.afk {
    color: rgb(255, 172, 51);
}