<div class="container-fluid main">
    <app-login
    *ngIf="!loggedUser"
    [ngStyle]="{'opacity' : this.showLogin ? 1 : 0}"
    class="row h-100 text-center"
    [users]="users"
    [hubConnection]="hubConnection"
    (userEmitter)="userHandler($event)"></app-login>

    <app-match-making
    *ngIf="loggedUser && !matchFound"
    class="row h-100"
    [loggedUser]="loggedUser"
    [users]="users"></app-match-making>

    <app-game
    *ngIf="matchFound"
    class="row h-100"
    [loggedUser]="loggedUser"
    [opponent]="opponent"
    [hubConnection]="hubConnection"></app-game>
</div>